/*** Table ***/
@import "../public/styles/colors.css";

.table {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow: hidden;
  display:flex;
  flex-direction: column;

}
.header {
  height:50px;
  padding:11px 15px;
  flex: none;
  display:flex;
  flex-direction: row;
}
.input {

  height: 24px;
  flex:1;

}
.option {
  background: white;
  height:24px;
  flex:none;
  border-right: none;
}
.scroller {
  flex: 1;
  overflow:auto;
}

.list {
  list-style: none;
  margin:0;
  padding:0;
}
.entryLink{
  display:flex;
  flex-flow: row nowrap;
  text-decoration: none;
  justify-content: flex-start;
  color: black;
}
.active {
  background-color: $lightBackgroundColor;
}
.entry {
  border-bottom: 1px solid $lightBorderColor;

}
.shape{
  min-width: 100px;
  flex: none;
}
.infoContainer {
  flex-direction: column;

  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 10px;
}
.info{
  flex: none;
  white-space: nowrap;
}
